/SpendyBean-ejb/build/classes
/dist/gfdeploy/SpendyBean/SpendyBean-ejb_jar/adaldosso/entities/*.class
/SpendyBean-ejb/dist/*.jar
/SpendyBean-war/build/web/WEB-INF/classes/adaldosso/controller/*.class
/build
/dist
/lib/CopyLibs
/lib/eclipselink
/SpendyBean-war/build/web/META-INF
/SpendyBean-war/build/web/WEB-INF/classes
/lib/eclipselinkmodelgen/*.jar
/lib/javaee-endorsed-api-6.0/*.jar
/SpendyBean-war/dist/*.war
/SpendyBean-ejb/build/generated-sources/ap-source-output/adaldosso/entities
/SpendyBean-war/build/web/WEB-INF
/SpendyBean-war/build/web/add.xhtml
/SpendyBean-war/build/web/edit.xhtml
/SpendyBean-war/build/web/index.xhtml
